# 基础依赖
requests>=2.31.0
pillow>=10.0.1
psutil


# Selenium相关
selenium>=4.15.2
webdriver-manager

# Windows特定依赖
pywin32; sys_platform == 'win32'

# 录屏相关依赖
mss>=9.0.1
opencv-python-headless>=4.8.1.78
numpy

# 其他工具
python-dateutil